
<% if switch %>
    <div class="flex flex-row justify-center space-x-4 w-full p-3">
        <div class="flex flex-col items-center justify-center font-playfair w-32">
            <p><span class="font-bold"><%= time %></span><br> <%= content %></p>
        </div>
        <div class="flex flex-col items-center p-2 w-32 ">
            <%= image_tag image, alt: "Image 1" , class: "w-20 h-20 object-cover flex-shrink-0" %>
        </div>
    </div>
    <div class="w-auto h-px bg-[#A3B18A] my-4"></div>
<% else %>
    <div class="flex flex-row justify-center space-x-4 w-full p-4 ">
        <div class="flex flex-col items-center p-2 w-32 ">
            <%= image_tag image, alt: "Image 1" , class: "w-20 h-20 object-cover flex-shrink-0" %>
        </div>
        <div class="flex flex-col items-center justify-center p-2 font-playfair w-32">
            <p><span class="font-bold"><%= time %></span><br> <%= content %></p>
        </div>
    </div>
    <div class="w-auto h-px bg-[#A3B18A] my-4"></div>
<% end %>