<!-- general container  -->
<div class="sm:w-full md:w-2/5 content-center text-center justify-center border border-slate-300">
  <!-- card container-->
    <div class="flex flex-row ">
      <h1 class="font-serif text-center text-8xl p-10">
        <%= @couple %>
      </h1>
    </div>

      <div data-aos="fade-right" class="relative w-full max-w-md h-96 mx-auto overflow-hidden rounded-lg shadow-lg">
        <!-- Carousel -->
        <div id="carousel" class="flex transition-transform duration-500 ease-in-out">
          <%= image_tag "1.JPG" , alt: "Image 1" , class: "w-full h-full object-cover flex-shrink-0" %>
            <%= image_tag "2.JPG" , alt: "Image 2" , class: "w-full h-full object-cover flex-shrink-0" %>
              <%= image_tag "3.JPG" , alt: "Image 3" , class: "w-full h-full object-cover flex-shrink-0" %>
        </div>

        <!-- Indicators -->
        <div class="absolute bottom-4 left-1/2 transform -translate-x-1/2 flex space-x-2">
          <div class="indicator w-2 h-2 bg-gray-300 rounded-full"></div>
          <div class="indicator w-2 h-2 bg-gray-300 rounded-full"></div>
          <div class="indicator w-2 h-2 bg-gray-300 rounded-full"></div>
        </div>
      </div>

      <div  class="flex flex-row justify-center p-5">
        <div class="pr-2 font-text-playfair text-2xl" id="days"></div>
        <div class="pl-0 font-text-playfair text-2xl" id="hours"></div>
        <div class="pl-0 font-text-playfair text-2xl" id="minutes"></div>
        <div class="pl-0 font-text-playfair text-2xl" id="seconds"></div>
      </div>
      
      
      <h1 class="font-serif text-center text-5xl p-4">
        Fecha:
      </h1>
      <p class="font-text-playfair text-center text-2xl p-2 pb-1">
        Abril 05, 2025
      </p>
      <div class="flex flex-col items-center text-center">
        Presiona play para escuchar
        <%= audio_tag "test_music.mp3", autoplay: true, controls: true, muted: true %>
      </div>
      
      <div data-aos="fade-in" data-aos-duration="1500" data-aos-delay="200" data-aos-offset="400">
        <!-- Container to fade everything  -->
        
        <div
          class="flex  flex-col p-4 justify-center items-center">
          <h1 class="font-serif text-center text-5xl p-4">
            Testigos
          </h1>
          <hr class="border-t-2 border-gray-600 rounded-full w-1/2 mx-auto mb-4">
          <p class="p-1 text-xl">Quimey Cabanal</p>
          <p class="p-1 text-xl">Fernanda Serio</p>
          <hr>
          <p class="p-1 text-xl">Maximiliano Gacitua</p>
          <p class="p-1 text-xl">Matias Aguirre</p>
        </div>
        <h1 class=" font-serif text-center text-5xl p-4">
          Ubicacion
        </h1>
        <div class="flex flex-row justify-center mb-10">
          <a href="https://www.google.com/maps/place/Sal%C3%B3n+del+R%C3%ADo/@-34.5124557,-58.4729985,17z/data=!3m1!4b1!4m6!3m5!1s0x95bcb15b32a9fd1d:0xcddefdd43a19e890!8m2!3d-34.5124601!4d-58.4704236!16s%2Fg%2F11bbrs4jw0?entry=ttu&g_ep=EgoyMDI1MDEwOC4wIKXMDSoASAFQAw%3D%3D"
            class="text-center px-6 py-2 w-60 text-white bg-blue-500 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300">
            Ver mapa
          </a>
        </div>
        <div class="flex flex-col items-center p-5 mb-5">
          <%= render "main/card", 
                image:    "suit.png", 
                title:    "Dress code", 
                content:  "Elegante riguroso" %>

          <%= render "main/card", 
              image:       "gift.png",
              title:       "Regalo", 
              content:     "El mejor regalo para nosotros es contar con tu presencia en este dia
                            tan importante pero si quieres tener un detalle con nosotros puedes ayudanos a contribuir
                            con nuestra luna de miel soñada" %>


          <p data-aos="fade-in" data-aos-duration="1500" data-aos-delay="100" data-aos-offset="400" class="p-4 text-center w-70 p-1 font-medium mb-10 font-playfair">
            Alias: boda.camiygabi <br>
            CBU: 0720091588000002542540
          </p>

          <div class="flex-row justify-center">
            <%= image_tag "check.png" , alt: "Image 1" , class: "w-20 h-20 object-cover flex-shrink-0" %>
          </div>
          <h1 data-aos="fade-in" data-aos-duration="1500" data-aos-delay="100" data-aos-offset="100" class=" font-serif text-center text-5xl p-4">
            Confirmación
          </h1>
          <p data-aos="fade-in" data-aos-duration="1500" data-aos-delay="100" data-aos-offset="100" class="text-center font-medium w-70 p-4 font-playfair">
            Para que tengamos la mejor velada posible te pedimos por favor 
            que confirmes tu asistencia en el siguiente link. Muchas gracias 
          </p>
          <a data-aos="fade-in" data-aos-duration="1500" data-aos-delay="100" data-aos-offset="100" href="https://docs.google.com/forms/d/1S8mpaXudYrHou1c98TQDfSEYOQhZ-d4i3a-YDif-j3c/edit"
            class="text-center px-6 py-2 w-60 text-white bg-blue-500 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300">
            Haz Click para confirmar
          </a>

        </div>

      </div>




      <div class="flex flex-row justify-center">
        <p class="font-serif text-center">
          Antonio Malaver 401 - Salon del rio
        </p>
      </div>
    </div>

  </div>
</div>