<div class="flex items-center justify-center">
  <div class="flex p-4 mx-6">
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
      <div class="grid gap-4">
        <div>
            <%= image_tag "1.jpeg",
                class: 'h-auto max-w-full rounded-lg' %>
        </div>
        <div>
          <%= image_tag "2.jpeg",
                class: 'h-auto max-w-full rounded-lg' %>
        </div>
        <div>
          <%= image_tag "4.jpeg",
                class: 'h-auto max-w-full rounded-lg' %>
        </div>
      </div>
      <div class="grid gap-4">
        <div>
          <%= image_tag "6.jpeg", class: 'h-auto max-w-full rounded-lg' %>
        </div>
        <div>
          <%= image_tag "7.jpeg", class: 'h-auto max-w-full rounded-lg' %>
        </div>
        <div>
          <%= image_tag "8.jpeg", class: 'h-auto max-w-full rounded-lg' %>
        </div>
      </div>
      <div class="grid gap-4">
        <div>
          <%= image_tag "9.jpeg", class: 'h-auto max-w-full rounded-lg' %>
        </div>
        <div>
          <%= image_tag "10.jpeg", class: 'h-auto max-w-full rounded-lg' %>
        </div>
        <div>
          <%= image_tag "11.jpeg", class: 'h-auto max-w-full rounded-lg' %>
        </div>
      </div>
      <div class="grid gap-4">
        <div>
          <%= image_tag "12.jpeg", class: 'h-auto max-w-full rounded-lg' %>
        </div>
        <div>
          <%= image_tag "13.jpeg", class: 'h-auto max-w-full rounded-lg' %>
        </div>
        <div>
          <%= image_tag "14.jpeg", class: 'h-auto max-w-full rounded-lg' %>
        </div>
      </div>
    </div>
  </div>
</div>
